[submodule "u-boot"]
	path = u-boot
	url = https://github.com/radxa/u-boot
	branch = next-dev-v2024.10
[submodule "rkbin"]
	path = rkbin
	url = https://github.com/rockchip-linux/rkbin
	branch = master
